extends layout

block content
  h3= title
  form(name="pago-con-bitcoin")
    input(type="text", name="importe", placeholder="ingrese importe")
    button(type="button", id="pagar")
      | pagar!
  div(style="height: 12px;")
  div(id="countdowntimer")
    span(id="timeleft")
  div(style="height: 12px;")
  div(id="qrcode")
  div(style="height: 12px;")
  div(id="paymentinfo")
